.banner-background{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(37, 34, 34);
    background-image: linear-gradient( to right,rgba(35, 35, 35, 0.7) 40%,rgba(207, 183, 183, 0.1)) ,url("https://www.teahub.io/photos/full/156-1561001_photo-wallpaper-red-auto-machine-style-background-red.jpg");
}
.banner-background img{
    /* width: 500px;
    height: 500px; */
    
}
/* .banner-img{
    width: 100%;
    /* display: flex; */
/* }
.img1{
    width: 50%;
   
}
.img2{
    width: 50%;
}
.img1 img{
    width: 100%;
    
}
.img2 img{
    width: 100%;
} */ 