


.background-images{

    background: url("https://w0.peakpx.com/wallpaper/722/111/HD-wallpaper-beautiful-red-car-amazing-nice-cool-action-beautiful.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}